<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>answers</servlet-name>
        <servlet-class>servlet.AnswersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>answers</servlet-name>
        <url-pattern>/answers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>question</servlet-name>
        <servlet-class>servlet.QuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>question</servlet-name>
        <url-pattern>/question</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ask</servlet-name>
        <servlet-class>servlet.AskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ask</servlet-name>
        <url-pattern>/ask</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>answ</servlet-name>
        <servlet-class>servlet.AServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>answ</servlet-name>
        <url-pattern>/answ</url-pattern>
    </servlet-mapping>
</web-app>